{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="rating">
    <div class="container" id ="rating">
        <br>
        <h2 class="text-center">Welcome to Rates</h2>
        <div class="row">
            {% for project in projects%}
            <div class ="col-md-6">
                <div class="card-deck mx-1" >
                    <div class="card mb-2">
                        <div class="view overlay mx-2">
                            <a href="{% url 'rating' project.id %}">
                                <img class="card-img-top mb-2" src="{{ project.screenshot.url }}"
                                 alt="{{screenshot.title}}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body pr-2 pl-2 pr-2 mx-2" style="background-color: rgb(236, 178, 178);">
                            <h4 class="card-title"><a href="{% url 'rating' project.id %}" style="color: rgb(233, 109, 109)">{{project.title|title}}</a></h4>
                                <a class="btn btn-sm btn-outline-info" href="{{ project.site_url }}"> Visit Site</a>
                            <p><em>{{project.description}}</em></p>
                            <hr>
                            <p class="card-text ">
                                By  <strong>{{project.owner|title}}</strong> <span style="float:right">{{project.day_posted|date}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>
        <hr>
    </div>
</div>


{% endblock %}