{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-6">
            <div class="card">
              <img src="{{project.screenshot.url}}" class="card-img-top" alt="project screenshot">
              <h3 class="ml-3">{{project.title}}</h3>
              <div class="card-body">
                <h5 class="card-title">{{project.user}} </h5>
                <a class="btn btn-sm btn-outline-info" href="{{ project.site_url }}">Site Link</a>
                <p class="card-text">{{project.description}}</p>
                <p class="card-text">{{project.day_posted|date}}</p>
                <p class="card-text">{{project.owner}}</p>
              </div>
            </div> <br><br>
            <div class="row">
                <div class="col-md-10">
                    <h4>Ratings</h4>
                    {% for rate in rates %}
                    <p>Design: {{rate.design}}</p>
                    <p>Usability:{{rate.usability}}</p>
                    <p>Content:{{rate.content}}</p>
                    <p>Average:{{rate.aggregate}}</p>
                    {%  endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-md-6"> 
            {% if rating_status %}
            {% else %}
            {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form rating_form %}
              <button class="btn btn-success link">Rate</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

{% endblock %}