{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br>
            <div class="card">
                <img src="{{project.screenshot.url}}" class="card-img-top" alt="project screenshot">
                <h3 class="ml-3"style="color: rgb(233, 109, 109)">{{project.title}}</h3>
                <div class="card-body"style="background-color: rgb(236, 178, 178);">
                    <h5 class="card-title">{{project.user}} </h5>
                    <a class="btn btn-sm btn-outline-info" href="{{ project.site_url }}">Site Link</a>
                    <p class="card-text">{{project.description}}</p>
                    <p class="card-text">{{project.day_posted|date}}</p>
                    <p class="card-text">{{project.owner}}</p>
                </div>
            </div> <br><br>
        </div>
        <div class="col-md-6">
            <br>
            <h2 class="text-center">Ratings</h2>
            <div class="results">
                {% for rate in rates %}
                <h4 class="user"style="color: red">{{ rate.user.username }}</h4>
                <p>Design: {{rate.design}}</p>
                <p>Usability: {{rate.usability}}</p>
                <p>Content: {{rate.content}}</p>
                <p>Average: {{rate.aggregate}}</p>
            </div>
            {%  endfor %}
            {% if rating_status %}
            {% else %}
            {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form rating_form %}
                <button class="btn btn-success link" style="width: 100%;">Rate</button>
            </form>
            <br>
            <br>
            {% endif %}
            {% endif %}
        </div>
        <br>
    </div>
</div>

{% endblock %}