{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 search">
            <div class="row text-center">
                {% if projects%}
                  <h1>Found {{ projects|length }} of searched term {{message}}</h1>
                {% else %}
                  <h1> Found 0 projects for the search term {{message}}</h1>
                {% endif %}
              
              </div>
            {% for project in projects %}
            <div class="flex">
                <div>
                    <a href="{% url 'rating' project.id  %}">
                        <h4 class="text-center">{{ project.title}}</h4>
                        <img src="{{project.screenshot.url}}" class="card-img-top" alt="img"
                            width="320" height="300">
                    </a>
                </div>
                <div>
                    <p class="ml-2"><span class="font-weight-bold">{{user.user.username}}</span></p>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>



{% endblock %}